# Lecture 04

In [ ]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Arithmetic

In [ ]:
2 + 3

In [ ]:
2 * 3

In [ ]:
2 ** 3

In [ ]:
2 * * 3

In [ ]:
10 * 2 ** 3

In [ ]:
2 / 3

In [ ]:
2 / 0

In [ ]:
2 / 3000

In [ ]:
2 / 3000000

In [ ]:
0.6666666666666666 - 0.6666666666666666123456789

In [ ]:
0.000000000000000123456789

In [ ]:
0.000000000000000000000000000000000000000000000000000000000000000000000123456789

In [ ]:
2 ** 0.5

In [ ]:
2 ** 0.5 * 2 ** 0.5

In [ ]:
2 ** 0.5 * 2 ** 0.5 - 2

## Strings

In [ ]:
'hello'

In [ ]:
'2.3'

In [ ]:
'2.3' + 4

In [ ]:
'2.3' * 4

In [ ]:
float(2)

In [ ]:
str(2.3)

In [ ]:
int('2')*5

In [ ]:
'2.5'+'3'

In [ ]:
int(str(12)+'0')*2

In [ ]:
x = 12
int(str(x) + '0')

## Arrays

Array:  sequence of values, all the same type, "boxed up"

In [ ]:
make_array(1, 2, 3)

In [ ]:
make_array(1, 2, 'hello')

In [ ]:
a = make_array(1,2,3)

In [ ]:
a

Arithmetic operations are *broadcast*

In [ ]:
a * 2

In [ ]:
a + 5

In [ ]:
make_array(1,2,3,4) + make_array(10, 100, 1000, 10_000)

In [ ]:
a

In [ ]:
length_of_a=len(a)
length_of_a

In [ ]:
max(a)

In [ ]:
min(a)

In [ ]:
sum(a)

In [ ]:
make_array(1,2,3) + make_array(1,2)

*Index* into array to retrieve items.  Indices start at 0.

In [ ]:
a.item(0)

In [ ]:
a.item(1)

In [ ]:
a.item(3)

Think of `item(n)` as asking for the item that has `n` items before it.

## Range

`np.arange`: a library function that produces an array containing a range of values

In [ ]:
np.arange(1, 5)

Range includes beginning, excludes ending:  $[1, 5)$

In [ ]:
b = np.arange(0, 20)
b

In [ ]:
c = np.arange(0, 20, 4)
c

In [ ]:
d = np.arange(2,-2,-1)
d

## Columns

Table columns are arrays

In [ ]:
# From http://www.boxofficemojo.com/alltime/adjusted.htm
movies = Table.read_table('top_movies_by_title.csv')
movies.show(15)

In [ ]:
movies.column('Year')

Let's make a table that also contains the age of the movie.  (2020 is 0 years old, 2019 is 1 year old, etc.)

How does age relate to proceeds?

In [ ]:
movies.scatter('Age', 'Gross')

In [ ]:
movies.scatter('Age', 'Gross (Adjusted)')

## Making tables

In [ ]:
Table()

In [ ]:
# let's recreate: https://en.wikipedia.org/wiki/List_of_Super_Bowl_champions

In [ ]:
numerals = make_array("LIII", "LII", "LI")

In [ ]:
winners = make_array("New England Patriots", "Philadelphia Eagles", "New England Patriots")

In [ ]:
losers = make_array("Los Angeles Rams", "New England Patriots", "Atlanta Falcons")

In [ ]:
scores = make_array("13-3","41-33","34-28")

## Minard's map

![Minard's Map](minard.png)

In [ ]:
minard = Table.read_table('minard.csv')
minard

In [ ]:
minard.num_columns

In [ ]:
minard.num_rows

In [ ]:
minard.labels

In [ ]:
minard.column('Survivors')

In [ ]:
initial_size = minard.column('Survivors').item(0)
initial_size

In [ ]:
proportion_surviving = ...
proportion_surviving

In [ ]:
with_proportions = minard.with_column(
    'Proportion Surviving', proportion_surviving
)
with_proportions

In [ ]:
with_proportions.set_format('Proportion Surviving', PercentFormatter)

## Rows

In [ ]:
minard

In [ ]:
minard.take(0)

In [ ]:
np.arange(0, 4)

In [ ]:
minard.take(np.arange(0,4))